<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="books">Livres</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!isAuth" routerLinkActive="active">
        <a routerLink="auth/signup">Créer un compte</a>
      </li>
      <li *ngIf="!isAuth" routerLinkActive="active">
        <a routerLink="auth/signin">S'identifier</a>
      </li>
      <li>
        <a (click)="onSignOut()" *ngIf="isAuth" style="cursor: pointer">Deconnexion</a>
      </li>
    </ul>
  </div>
</nav>
